/* CSS CODE FOR BACKGROUND IMAGE */
body {
  background-image: url("cover_page.png");
  background-color: black;
  background-repeat: no-repeat;
}

th {
  text-align: center
}

.vspace {
  margin-top: 25px;
}

.spaced {
  letter-spacing: 15px;
}

/* Drawing */

#drawing {
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-linecap: round;
}

#hangman-drawing > * {
  display: none;
  color: black;
}
